taotao-common/.settings/
taotao-common/target/
taotao-parent/.settings/
taotao-parent/target/
taotao-manager/.settings/
taotao-manager/target/
taotao-manager/taotao-manager-mapper/.settings/
taotao-manager/taotao-manager-mapper/target
taotao-manager/taotao-manager-web/.settings/
taotao-manager/taotao-manager-web/target/
taotao-manager/taotao-manager-pojo/.settings/
taotao-manager/taotao-manager-pojo/target
taotao-manager/taotao-manager-service/.settings/
taotao-manager/taotao-manager-service/target/
